name: Build Docs

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.3

    - name: Set up Python 3.8
      uses: actions/setup-python@v2.1.4
      with:
        python-version: 3.8

    - name: Install poetry
      run: make download-poetry

    - name: Install dependencies
      run: |
        source "$HOME/.poetry/env"
        poetry config virtualenvs.in-project true
        poetry install

    - name: Set up cache
      id: cache
      uses: actions/cache@v2.1.2
      with:
        path: ./site
        key: site-${{ hashFiles('docs/*') }}-${{ hashFiles('mkdocs.yml') }}-${{ hashFiles('**/poetry.lock') }}

    - name: Build Docs
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        source $HOME/.poetry/env
        poetry run mkdocs build

    - name: Add Custom Domain Settings
      run: |
        echo "pythainav.nutchanon.org" >> ./site/CNAME

    - name: Deploy Docs
      if: steps.cache.outputs.cache-hit != 'true'
      uses: peaceiris/actions-gh-pages@v3.7.3
      env:
        ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: ./site
